Curso de<br>
Python: avançando na orientação a objetos<br>
`https://cursos.alura.com.br/course/python-3-avancando-orientacao-objetos`

Bloco 01<br>
Relembrando classes e objetos

In [ ]:
class Filme:
  pass

In [ ]:
chinatown = Filme()

In [ ]:
print(chinatown)

<__main__.Filme object at 0x7ee645404820>

In [ ]:
class Filme:
  def __init__(self, nome, ano, duracao):
    self.nome = nome
    self.ano = ano
    self.duracao = duracao

In [ ]:
chinatown = Filme('chinatown', 1974, 130)

In [ ]:
print(chinatown)

<__main__.Filme object at 0x7ee6454052a0>

In [ ]:
print(chinatown.nome)

chinatown

In [ ]:
print(chinatown.ano)

1974

In [ ]:
print(chinatown.duracao)

130

In [ ]:
class Serie:
  def __init__(self, nome, ano, temporadas):
    self.nome = nome
    self.ano = ano
    self.temporadas = temporadas

In [ ]:
atlanta = Serie('atlanta', 2016, 4)

In [ ]:
print(f'nome: {atlanta.nome}\n'
      f'ano: {atlanta.ano}\n'
      f'temporadas: {atlanta.temporadas}')

nome: atlanta
ano: 2016
temporadas: 4

In [ ]:
class Filme:
  def __init__(self, nome, ano, duracao):
    self.nome = nome.title()
    self.ano = ano
    self.duracao = duracao
    self.likes = 0

  def dar_like(self):
    self.likes += 1

In [ ]:
chinatown = Filme('chinatown', 1974, 130)

In [ ]:
print(f'nome: {chinatown.nome}\n'
      f'ano: {chinatown.ano}\n'
      f'duracao: {chinatown.duracao}\n'
      f'likes: {chinatown.likes}')

nome: Chinatown
ano: 1974
duracao: 130
likes: 0

In [ ]:
chinatown.dar_like()

In [ ]:
print(chinatown.likes)

1

In [ ]:
class Serie:
  def __init__(self, nome, ano, temporadas):
    self.nome = nome.title()
    self.ano = ano
    self.temporadas = temporadas
    self.likes = 0

  def dar_like(self):
    self.likes += 1

In [ ]:
atlanta = Serie('atlanta', 2016, 4)

In [ ]:
print(f'nome: {atlanta.nome}\n'
      f'ano: {atlanta.ano}\n'
      f'temporadas: {atlanta.temporadas}\n'
      f'likes: {atlanta.likes}')

nome: Atlanta
ano: 2016
temporadas: 4
likes: 0

In [ ]:
atlanta.dar_like()

In [ ]:
atlanta.dar_like()

In [ ]:
print(atlanta.likes)

2

In [ ]:
class Filme:
  def __init__(self, nome, ano, duracao):
    self.__nome = nome.title()
    self.ano = ano
    self.duracao = duracao
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
chinatown = Filme('chinatown', 1974, 130)

In [ ]:
chinatown.dar_like()

In [ ]:
print(f'nome: {chinatown.nome}\n'
      f'ano: {chinatown.ano}\n'
      f'duracao: {chinatown.duracao}\n'
      f'likes: {chinatown.likes}')

nome: Chinatown
ano: 1974
duracao: 130
likes: 1

In [ ]:
class Serie:
  def __init__(self, nome, ano, temporadas):
    self.__nome = nome.title()
    self.ano = ano
    self.temporadas = temporadas
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
atlanta = Serie('atlanta', 2016, 4)

In [ ]:
atlanta.dar_like()

In [ ]:
atlanta.dar_like()

In [ ]:
print(f'nome: {atlanta.nome}\n'
      f'ano: {atlanta.ano}\n'
      f'temporadas: {atlanta.temporadas}\n'
      f'likes: {atlanta.likes}')

nome: Atlanta
ano: 2016
temporadas: 4
likes: 2

In [ ]:
class Pessoa:
  # tamanho_cpf disponível em todas as instâncias
  # trata-se de um atributo de classe
  tamanho_cpf = 11

  def __init__(self, cpf, nome):
    self.cpf = cpf
    self.nome = nome

  def valida_cpf(self):
    return len(self.cpf) == __class__.tamanho_cpf

In [ ]:
pessoa = Pessoa('00000000001', 'rubi')

In [ ]:
print(pessoa.valida_cpf())

True

In [ ]:
pessoa = Pessoa('0000000000', 'cristal')

In [ ]:
print(pessoa.valida_cpf())

False

Bloco 02<br>
Removendo duplicação com herança

In [ ]:
class Midia:
  def __init__(self, nome, ano):
    self.__nome = nome.title()
    self.ano = ano
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
class Filme(Midia):
  def __init__(self, nome, ano, duracao):
    super().__init__(nome, ano)
    self.duracao = duracao

In [ ]:
c = Filme('chinatown', 1974, 130)

In [ ]:
c.dar_like()

In [ ]:
print(f'{c.nome} - {c.ano} - {c.duracao} - {c.likes}')

Chinatown - 1974 - 130 - 1

In [ ]:
class Serie(Midia):
  def __init__(self, nome, ano, temporadas):
    super().__init__(nome, ano)
    self.temporadas = temporadas

In [ ]:
a = Serie('atlanta', 2016, 4)

In [ ]:
a.dar_like()

In [ ]:
a.dar_like()

In [ ]:
print(f'{a.nome} - {a.ano} - {a.temporadas} - {a.likes}')

Atlanta - 2016 - 4 - 2

In [ ]:
class Funcionario:
  prefixo = 'Instrutor'

  # ao criar um método de classe
  # tem-se acesso aos atributos da classe
  @classmethod
  def info(cls):
    return f'Trata-se de um {cls.prefixo}'

In [ ]:
f = Funcionario()

In [ ]:
print(f.info())

Trata-se de um Instrutor

In [ ]:
class FolhaDePagamento:
  # ao declarar um método estático
  # não é preciso passar argumentos fixos
  @staticmethod
  def log():
    return 'Este é um log qualquer'

In [ ]:
f = FolhaDePagamento()

In [ ]:
print(f.log())

Este é um log qualquer

Bloco 03<br>
Reduzindo ifs com polimorfismo

In [ ]:
class Midia:
  def __init__(self, nome, ano):
    self.__nome = nome.title()
    self.ano = ano
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
class Filme(Midia):
  def __init__(self, nome, ano, duracao):
    super().__init__(nome, ano)
    self.duracao = duracao

In [ ]:
c = Filme('chinatown', 1974, 130)

In [ ]:
c.dar_like()

In [ ]:
print(f'{c.nome} - {c.ano} - {c.duracao} - {c.likes}')

Chinatown - 1974 - 130 - 1

In [ ]:
class Serie(Midia):
  def __init__(self, nome, ano, temporadas):
    super().__init__(nome, ano)
    self.temporadas = temporadas

In [ ]:
a = Serie('atlanta', 2016, 4)

In [ ]:
a.dar_like()

In [ ]:
a.dar_like()

In [ ]:
print(f'{a.nome} - {a.ano} - {a.temporadas} - {a.likes}')

Atlanta - 2016 - 4 - 2

In [ ]:
filmes_e_series = [c, a]

In [ ]:
for programa in filmes_e_series:
  print(f'{programa.nome} - {programa.ano}')

Chinatown - 1974
Atlanta - 2016

In [ ]:
for programa in filmes_e_series:
  # detalhes
  d = programa.duracao if hasattr(programa, 'duracao') else programa.temporadas

  print(f'{programa.nome} - {programa.ano} - {d}')

Chinatown - 1974 - 130
Atlanta - 2016 - 4

In [ ]:
class Midia:
  def __init__(self, nome, ano):
    self.__nome = nome.title()
    self.ano = ano
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
class Filme(Midia):
  def __init__(self, nome, ano, duracao):
    super().__init__(nome, ano)
    self.duracao = duracao

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.duracao} '
            f'{"min" if self.duracao == 1 else "mins"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
c = Filme('chinatown', 1974, 130)

In [ ]:
c.dar_like()

In [ ]:
print(f'{c.nome} - {c.ano} - {c.duracao} - {c.likes}')

Chinatown - 1974 - 130 - 1

In [ ]:
class Serie(Midia):
  def __init__(self, nome, ano, temporadas):
    super().__init__(nome, ano)
    self.temporadas = temporadas

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.temporadas} '
            f'{"temp" if self.temporadas == 1 else "temps"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
a = Serie('atlanta', 2016, 1)

In [ ]:
a.dar_like()

In [ ]:
a.dar_like()

In [ ]:
print(f'{a.nome} - {a.ano} - {a.temporadas} - {a.likes}')

Atlanta - 2016 - 1 - 2

In [ ]:
filmes_e_series = [c, a]

In [ ]:
for programa in filmes_e_series:
  print(programa)

Chinatown - 1974 - 130 mins - 1 like
Atlanta - 2016 - 1 temp - 2 likes

In [ ]:
for programa in filmes_e_series:
  print(repr(programa))
  # ou __repr__ na classe

<__main__.Filme object at 0x7ee64543fa00>
<__main__.Serie object at 0x7ee64543dc60>

In [ ]:
print(repr(filmes_e_series))

[<__main__.Filme object at 0x7ee64543fa00>, <__main__.Serie object at 0x7ee64543dc60>]

Bloco 04<br>
Quando não usar herança

In [ ]:
class Playlist:
  def __init__(self, nome, lista):
    self.nome = nome
    self.lista = lista

  def tamanho(self):
    return len(self.lista)

In [ ]:
class Midia:
  def __init__(self, nome, ano):
    self.__nome = nome.title()
    self.ano = ano
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
class Filme(Midia):
  def __init__(self, nome, ano, duracao):
    super().__init__(nome, ano)
    self.duracao = duracao

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.duracao} '
            f'{"min" if self.duracao == 1 else "mins"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
c = Filme('chinatown', 1974, 130)

In [ ]:
c.dar_like()
c.dar_like()
c.dar_like()

In [ ]:
k = Filme('killers of the flower moon', 2023, 206)

In [ ]:
k.dar_like()
k.dar_like()

In [ ]:
o = Filme('oppenheimer', 2023, 181)

In [ ]:
o.dar_like()

In [ ]:
class Serie(Midia):
  def __init__(self, nome, ano, temporadas):
    super().__init__(nome, ano)
    self.temporadas = temporadas

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.temporadas} '
            f'{"temp" if self.temporadas == 1 else "temps"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
a = Serie('atlanta', 2016, 1)

In [ ]:
a.dar_like()

In [ ]:
v = Serie('vikings', 2013, 6)

In [ ]:
v.dar_like()
v.dar_like()

In [ ]:
filmes_e_series = [c, a, v, k, o]

In [ ]:
playlist_fim_de_semana = Playlist('fim de semana', filmes_e_series)

In [ ]:
for midia in playlist_fim_de_semana.lista:
  print(midia)

Chinatown - 1974 - 130 mins - 3 likes
Atlanta - 2016 - 1 temp - 1 like
Vikings - 2013 - 6 temps - 2 likes
Killers Of The Flower Moon - 2023 - 206 mins - 2 likes
Oppenheimer - 2023 - 181 mins - 1 like

In [ ]:
# poderíamos herdar list built-in
# isto traria benefícios
# porém também drawbacks por ser algo desconhecido
# por enquanto, vamos fugir da complexidade

In [ ]:
class Playlist:
  def __init__(self, nome, lista):
    self.nome = nome
    self.__lista = lista

  @property
  def lista(self):
    return self.__lista

  @property
  def tamanho(self):
    return len(self.__lista)

Bloco 05<br>
Duck Typing e um modelo de dados

In [ ]:
class Playlist:
  def __init__(self, nome, lista):
    self.nome = nome
    self.__lista = lista

  # dunder/magic method que define um iterável
  def __getitem__(self, item):
    return self.__lista[item]

  # dunder/magic method que define algo que possui tamanho
  def __len__(self):
    return len(self.__lista)

  @property
  def lista(self):
    return self.__lista

In [ ]:
class Midia:
  def __init__(self, nome, ano):
    self.__nome = nome.title()
    self.ano = ano
    self.__likes = 0

  @property
  def nome(self):
    return self.__nome

  @nome.setter
  def nome(self, nome):
    self.__nome = nome.title()

  @property
  def likes(self):
    return self.__likes

  def dar_like(self):
    self.__likes += 1

In [ ]:
class Filme(Midia):
  def __init__(self, nome, ano, duracao):
    super().__init__(nome, ano)
    self.duracao = duracao

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.duracao} '
            f'{"min" if self.duracao == 1 else "mins"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
c = Filme('chinatown', 1974, 130)

In [ ]:
c.dar_like()
c.dar_like()
c.dar_like()

In [ ]:
k = Filme('killers of the flower moon', 2023, 206)

In [ ]:
k.dar_like()
k.dar_like()

In [ ]:
o = Filme('oppenheimer', 2023, 181)

In [ ]:
o.dar_like()

In [ ]:
class Serie(Midia):
  def __init__(self, nome, ano, temporadas):
    super().__init__(nome, ano)
    self.temporadas = temporadas

  def __str__(self):
    return (f'{self.nome} - '
            f'{self.ano} - '
            f'{self.temporadas} '
            f'{"temp" if self.temporadas == 1 else "temps"} - '
            f'{self.likes} '
            f'{"like" if self.likes == 1 else "likes"}')

In [ ]:
a = Serie('atlanta', 2016, 1)

In [ ]:
a.dar_like()

In [ ]:
v = Serie('vikings', 2013, 6)

In [ ]:
v.dar_like()
v.dar_like()

In [ ]:
filmes_e_series = [c, a, v, k, o]

In [ ]:
playlist_fim_de_semana = Playlist('fim de semana', filmes_e_series)

In [ ]:
for midia in playlist_fim_de_semana:
  print(midia)

Chinatown - 1974 - 130 mins - 3 likes
Atlanta - 2016 - 1 temp - 1 like
Vikings - 2013 - 6 temps - 2 likes
Killers Of The Flower Moon - 2023 - 206 mins - 2 likes
Oppenheimer - 2023 - 181 mins - 1 like

In [ ]:
c in playlist_fim_de_semana

True

In [ ]:
print(playlist_fim_de_semana[0])

Chinatown - 1974 - 130 mins - 3 likes

In [ ]:
print(len(playlist_fim_de_semana))

5

In [ ]:
# classes abstratas ou abc

In [ ]:
from collections.abc import MutableSequence

In [ ]:
class Playlist(MutableSequence):
  pass

In [ ]:
teste = Playlist()

TypeError: ignored

In [ ]:
from numbers import Complex

In [ ]:
class Numero(Complex):
  pass

In [ ]:
teste = Numero()

TypeError: ignored

Bloco 06<br>
Herança múltipla

In [1]:
class Funcionario:
  def __init__(self, nome):
    self.nome = nome

  def registrar_horas(self):
    print('registrando horas...')

  def mostrar_tarefas(self):
    print(f'mostrando tarefas... {self.__class__.__name__}')

In [2]:
class Alura(Funcionario):
  def mostrar_tarefas(self):
    print(f'mostrando tarefas... {self.__class__.__name__}')

  def buscar_perguntas_sem_resposta(self):
    print('buscando perguntas sem resposta...')

In [3]:
class Caelum(Funcionario):
  def mostrar_tarefas(self):
    print(f'mostrando tarefas... {self.__class__.__name__}')

  def buscar_cursos_do_mes(self):
    print(f'buscando cursos desse mês...')

In [4]:
class Junior(Alura):
  pass

In [5]:
class Pleno(Alura, Caelum):
  pass

In [6]:
# mixins
# classes cuja a ideia não é instanciar objeto

In [7]:
class Hipster:
  def __str__(self):
    return f'Hipster, {self.nome.title()}'

In [8]:
class Senior(Alura, Caelum, Hipster):
  pass

In [9]:
junior = Junior('junior')

In [10]:
junior.registrar_horas()

registrando horas...

In [11]:
junior.buscar_perguntas_sem_resposta()

buscando perguntas sem resposta...

In [12]:
pleno = Pleno('pleno')

In [13]:
pleno.registrar_horas()

registrando horas...

In [14]:
pleno.buscar_perguntas_sem_resposta()

buscando perguntas sem resposta...

In [15]:
pleno.buscar_cursos_do_mes()

buscando cursos desse mês...

In [16]:
senior = Senior('senior')

In [17]:
senior.registrar_horas()

registrando horas...

In [18]:
senior.buscar_perguntas_sem_resposta()

buscando perguntas sem resposta...

In [19]:
senior.buscar_cursos_do_mes()

buscando cursos desse mês...

In [20]:
print(senior)

Hipster, Senior