Curso de<br>
Python Collections parte 1: listas e tuplas<br>
`https://cursos.alura.com.br/course/python-collections-listas-e-tuplas`

Bloco 01<br>
Listas e operações

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades[3]

18

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades[0]
idades[1]

30

In [ ]:
print(idades[0])
print(idades[1])

39
30

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
idades[5]

IndexError: ignored

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.remove(30)

ValueError: ignored

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(27)

In [ ]:
idades

[39, 27, 18, 15, 27]

In [ ]:
# remove a primeira aparição do elemento

In [ ]:
idades.remove(27)

In [ ]:
idades

[39, 18, 15, 27]

In [ ]:
idades.clear()

In [ ]:
idades

[]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

False

In [ ]:
idades.append(15)

In [ ]:
idades

[15]

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)
  print(idades)

[]

In [ ]:
idades = [39, 18, 27]

In [ ]:
idades.insert(0, 20)
idades

[20, 39, 18, 27]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.append(27, 19)

TypeError: ignored

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print(elemento)

20
39
18
[27, 19]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for elemento in idades:
  print(elemento)

20
39
18
27
19

In [ ]:
for idade in idades:
  print(idade+1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
[idade for idade in idades if idade > 21]

[39, 27]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
# list comprehension

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista=[]):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
# 🤯

In [ ]:
def faz_processamento_de_visualizacao(lista=None):
  if lista is None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

Bloco 02<br>
Tuplas

In [ ]:
# objetos próprios

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def depositar(self, valor):
    self.saldo += valor

  def __str__(self):
    return f'código {self.codigo}, saldo {self.saldo}'

In [ ]:
conta_do_fulano = ContaCorrente(15)
print(conta_do_fulano)

código 15, saldo 0

In [ ]:
conta_do_fulano.depositar(500)
print(conta_do_fulano)

código 15, saldo 500

In [ ]:
conta_do_beltrano = ContaCorrente(3830)
conta_do_beltrano.depositar(1000)
print(conta_do_beltrano)

código 3830, saldo 1000

In [ ]:
contas = [conta_do_fulano, conta_do_beltrano]
print(contas)

[<__main__.ContaCorrente object at 0x7c8f8fcea230>, <__main__.ContaCorrente object at 0x7c8f8fcea0b0>]

In [ ]:
for conta in contas:
  print(conta)

código 15, saldo 500
código 3830, saldo 1000

In [ ]:
contas = [conta_do_fulano, conta_do_beltrano, conta_do_fulano]

In [ ]:
print(contas[0])

código 15, saldo 500

In [ ]:
conta_do_fulano.depositar(100)

In [ ]:
print(contas[0])

código 15, saldo 600

In [ ]:
print(conta_do_fulano)

código 15, saldo 600

In [ ]:
print(contas[2])

código 15, saldo 600

In [ ]:
# apenas 2 objetos na memória

In [ ]:
contas[2].depositar(300)

In [ ]:
print(conta_do_fulano)

código 15, saldo 900

In [ ]:
def depositar_para_todas_as_contas(contas):
  for conta in contas:
    conta.depositar(100)

contas = [conta_do_fulano, conta_do_beltrano]

print(contas[0], contas[1])

depositar_para_todas_as_contas(contas)

print(contas[0], contas[1])

código 15, saldo 900 código 3830, saldo 1000
código 15, saldo 1000 código 3830, saldo 1100

In [ ]:
contas.insert(0, 76)

In [ ]:
for conta in contas:
  print(conta)

76
código 15, saldo 1000
código 3830, saldo 1100

In [ ]:
depositar_para_todas_as_contas(contas)

AttributeError: ignored

In [ ]:
# tuplas

In [ ]:
fulano = ('fulano', 23, 200)
beltrano = ('beltrano', 22, 500)

In [ ]:
fulano.append(343)

AttributeError: ignored

In [ ]:
# na tupla, a posição é importante

In [ ]:
fulano[1]

23

In [ ]:
fulano[1] = 25

TypeError: ignored

In [ ]:
def depositar(conta):
  novo_saldo = conta[2] + 100
  codigo = conta[0]
  idade = conta[1]
  return (codigo, idade, novo_saldo)

In [ ]:
depositar(fulano)

('fulano', 23, 300)

In [ ]:
fulano

('fulano', 23, 200)

In [ ]:
fulano = depositar(fulano)
fulano

('fulano', 23, 300)

In [ ]:
# se a posição indica algo específico, provavelmente utilizaremos tupla
# se a posição não tem tipo específico, provavelmente utilizaremos lista

In [ ]:
usuarios = [fulano, beltrano]
usuarios

[('fulano', 23, 300), ('beltrano', 22, 500)]

In [ ]:
usuarios.append(('ciclano', 39, 1979))
usuarios

[('fulano', 23, 300), ('beltrano', 22, 500), ('ciclano', 39, 1979)]

In [ ]:
usuarios[0]

('fulano', 23, 300)

In [ ]:
usuarios[0][0]

'fulano'

In [ ]:
usuarios[0][0] = 'pix da silva'

TypeError: ignored

In [ ]:
conta1 = ContaCorrente(15)
conta1.depositar(500)

conta2 = ContaCorrente(434)
conta2.depositar(1000)

contas = (conta1, conta2)
contas

(<__main__.ContaCorrente at 0x7c8f8fcebd90>,
 <__main__.ContaCorrente at 0x7c8f8fce9f30>)

In [ ]:
for conta in contas:
  print(conta)

código 15, saldo 500
código 434, saldo 1000

In [ ]:
contas.append(425)

AttributeError: ignored

In [ ]:
contas[0]

In [ ]:
print(contas[0])

código 15, saldo 500

In [ ]:
contas[0].depositar(300)

for conta in contas:
  print(conta)

código 15, saldo 800
código 434, saldo 1000

In [ ]:
# valores de objetos alterados
# tupla permanece a mesma

Bloco 03<br>
Polimorfismo e arrays

In [ ]:
# herança e polimorfismo

In [ ]:
class Conta:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
print(Conta(88))

código: 88, saldo: 0

In [ ]:
class ContaCorrente(Conta):
  def passar_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passar_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.depositar(1000)
conta16.passar_o_mes()
print(conta16)

código: 16, saldo: 998

In [ ]:
conta17 = ContaPoupanca(17)
conta17.depositar(1000)
conta17.passar_o_mes()
print(conta17)

código: 17, saldo: 1007.0

In [ ]:
contas = [conta16, conta17]

for conta in contas:
  conta.passar_o_mes() # duck typing
  print(conta)

código: 16, saldo: 996
código: 17, saldo: 1014.07

In [ ]:
# array, evitaremos usar

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
arr.array('d', [1, 3.5, 'não vai rolar'])

TypeError: ignored

In [ ]:
# não usamos array nem quando é recomendado
# isto é, onde costuma ser importante uma alto desempenho de funções matemáticas
# neste caso, é muito mais comum o uso do numpy

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [ ]:
# evitamos usar array puro
# muito mais comum que quando se busca um desempenho alto na parte matemática
# e na utilização de arrays e matrizes
# ou seja, se precisamos de trabalho numérico
# ir pro mundo do numpy
# do que pro mundo de arrays do próprio python

In [ ]:
# método abstrato

In [ ]:
class ContaCorrente(Conta):
  def passar_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passar_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(754)

In [ ]:
# gostaria que todos que herdam da classe conta
# tivessem o método passar_o_mes

In [ ]:
# forçar implementação

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def depositar(self, valor):
    self._saldo += valor

  @abstractmethod
  def passar_o_mes(self):
    pass

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
class ContaCorrente(Conta):
  def passar_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passar_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
print(Conta(0))

TypeError: ignored

In [ ]:
ContaInvestimento(0)

TypeError: ignored

In [ ]:
ContaCorrente(0)

In [ ]:
ContaPoupanca(0)

Bloco 04<br>
Igualdade

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

código: 37, saldo: 0

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

código: 37, saldo: 0

In [ ]:
conta1 == conta2

False

In [ ]:
# por padrão, == diz sim somente se ambos tratam de uma referência ao msm obj

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

False

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

código: 37, saldo: 0

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

código: 37, saldo: 0

In [ ]:
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

código: 37, saldo: 0

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

código: 37, saldo: 0

In [ ]:
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

In [ ]:
conta1.depositar(100)
conta1 == conta2

False

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta1 = ContaSalario(37)
print(type(conta1))
print(conta1)

<class '__main__.ContaSalario'>
código: 37, saldo: 0

In [ ]:
conta2 = ContaCorrente(37)
print(type(conta2))
print(conta2)

<class '__main__.ContaCorrente'>
código: 37, saldo: 0

In [ ]:
conta1 == conta2

False

In [ ]:
isinstance(ContaSalario(37), ContaSalario)

True

In [ ]:
isinstance(ContaCorrente(37), ContaCorrente)

True

In [ ]:
class Conta:
  pass

class ContaCorrente(Conta):
  pass

class ContaPoupanca(Conta):
  pass

corrente = ContaCorrente()
poupanca = ContaPoupanca()

In [ ]:
isinstance(corrente, Conta)

True

In [ ]:
isinstance(corrente, ContaCorrente)

True

In [ ]:
isinstance(poupanca, Conta)

True

In [ ]:
isinstance(poupanca, ContaPoupanca)

True

Bloco 05<br>
Outros builtins

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for idade in idades:
  print(idade)

15
87
32
65
56
32
49
37

In [ ]:
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
enumerate(idades) # lazy

In [ ]:
print(enumerate(idades))

<enumerate object at 0x7c8f8c194100>

In [ ]:
list(enumerate(idades)) # geração forçada de valores

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [ ]:
len(idades)

8

In [ ]:
range(len(idades))

range(0, 8)

In [ ]:
list(range(len(idades))) # geração forçada de valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
for valor in enumerate(idades):
  print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [ ]:
# em um for que passa por tuplas, podemos desempacotar as tuplas

In [ ]:
# tuple unpacking

for indice, idade in enumerate(idades):
  print(f'índice: {indice}, idade: {idade}')

índice: 0, idade: 15
índice: 1, idade: 87
índice: 2, idade: 32
índice: 3, idade: 65
índice: 4, idade: 56
índice: 5, idade: 32
índice: 6, idade: 49
índice: 7, idade: 37

In [ ]:
usuarios = [('guilherme', 37, 1981),('daniela', 31, 1987), ('paulo', 39, 1979)]

for usuario in usuarios:
  print(usuario)

('guilherme', 37, 1981)
('daniela', 31, 1987)
('paulo', 39, 1979)

In [ ]:
# e se eu não estiver interessado em todas as informações da tupla?

for nome, idade, nascimento in usuarios:
  print(f'nome: {nome}, idade: {idade}')

nome: guilherme, idade: 37
nome: daniela, idade: 31
nome: paulo, idade: 39

In [ ]:
# _ == não estou nem aí

for nome, idade, _ in usuarios:
  print(f'nome: {nome}, idade: {idade}')

nome: guilherme, idade: 37
nome: daniela, idade: 31
nome: paulo, idade: 39

In [ ]:
# _ == não estou nem aí

for nome, _, _ in usuarios:
  print(f'nome: {nome}')

nome: guilherme
nome: daniela
nome: paulo

Bloco 06<br>
Ordem natural

In [ ]:
# ordenação básica

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
15 < 32

True

In [ ]:
reversed(idades)

In [ ]:
# se devolve um interador e eu quero só mostrar o resultado, list nele

list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
# ordenar na própria lista, in place

idades.sort()

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

Bloco 07<br>
Ordenação customizada

In [ ]:
# ordenação de objetos sem ordem natural

In [ ]:
15 < 32

True

In [ ]:
nomes = ['guilherme', 'daniela', 'paulo']
sorted(nomes)

['daniela', 'guilherme', 'paulo']

In [ ]:
# maiúsculas e minúsculas

teste_ordem_lexicografica = ['A', 'a', 'B', 'b', 'C', 'c']
sorted(teste_ordem_lexicografica)

['A', 'B', 'C', 'a', 'b', 'c']

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta_a = ContaSalario(17)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(1000)

conta_c = ContaSalario(133)
conta_c.depositar(510)

contas = [conta_a, conta_b, conta_c]

In [ ]:
for conta in contas:
  print(conta)

código: 17, saldo: 500
código: 3, saldo: 1000
código: 133, saldo: 510

In [ ]:
sorted(contas)

TypeError: ignored

In [ ]:
conta_a < conta_b

TypeError: ignored

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

sorted(contas, key=extrai_saldo)

[<__main__.ContaSalario at 0x7c8f8c172800>,
 <__main__.ContaSalario at 0x7c8f8c172260>,
 <__main__.ContaSalario at 0x7c8f8c1710c0>]

In [ ]:
# acessando atributo privado diretamente 👎

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

código: 17, saldo: 500
código: 133, saldo: 510
código: 3, saldo: 1000

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo')):
  print(conta)

código: 17, saldo: 500
código: 133, saldo: 510
código: 3, saldo: 1000

In [ ]:
for conta in sorted(contas, key=attrgetter('_codigo')):
  print(conta)

código: 3, saldo: 1000
código: 17, saldo: 500
código: 133, saldo: 510

In [ ]:
# implementando o __lt__

In [ ]:
# mantendo o encapsulamento

In [ ]:
conta_a < conta_b

TypeError: ignored

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta_a = ContaSalario(17)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(1000)

conta_c = ContaSalario(133)
conta_c.depositar(510)

contas = [conta_a, conta_b, conta_c]

In [ ]:
conta_a < conta_b

True

In [ ]:
# se tem o __lt__, não precisa do __gt__
# se tem o __gt__, não precisa do __lt__

conta_a > conta_b

False

In [ ]:
# agora que a classe ContaSalario possui uma forma de comparação
# podemos utilizar o sorted

for conta in sorted(contas):
  print(conta)

código: 17, saldo: 500
código: 133, saldo: 510
código: 3, saldo: 1000

In [ ]:
for conta in sorted(contas, reverse=True):
  print(conta)

código: 3, saldo: 1000
código: 133, saldo: 510
código: 17, saldo: 500

Bloco 08<br>
Ordenação total

In [ ]:
# ordenação completa e functools

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta_a = ContaSalario(1700)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(1000)

conta_c = ContaSalario(133)
conta_c.depositar(500)

contas = [conta_a, conta_b, conta_c]

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
  print(conta)

código: 133, saldo: 500
código: 1700, saldo: 500
código: 3, saldo: 1000

In [ ]:
conta_a = ContaSalario(1700)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(500)

conta_c = ContaSalario(133)
conta_c.depositar(500)

contas = [conta_a, conta_b, conta_c]

In [ ]:
# solução funcional

for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
  print(conta)

código: 3, saldo: 500
código: 133, saldo: 500
código: 1700, saldo: 500

In [ ]:
# solução orientada a objetos

class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta_a = ContaSalario(1700)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(500)

conta_c = ContaSalario(133)
conta_c.depositar(500)

contas = [conta_a, conta_b, conta_c]

In [ ]:
for conta in sorted(contas):
  print(conta)

código: 3, saldo: 500
código: 133, saldo: 500
código: 1700, saldo: 500

In [ ]:
conta_a > conta_b

True

In [ ]:
conta_b > conta_c

False

In [ ]:
conta_c > conta_a

False

In [ ]:
conta_a <= conta_b

TypeError: ignored

In [ ]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'código: {self._codigo}, saldo: {self._saldo}'

In [ ]:
conta_a = ContaSalario(1700)
conta_a.depositar(500)

conta_b = ContaSalario(3)
conta_b.depositar(500)

conta_c = ContaSalario(133)
conta_c.depositar(500)

contas = [conta_a, conta_b, conta_c]

In [ ]:
conta_a <= conta_b

False

In [ ]:
conta_b <= conta_c

True

In [ ]:
conta_c <= conta_a

True

In [ ]:
conta_a < conta_a

False

In [ ]:
conta_a == conta_a

True

In [ ]:
conta_a <= conta_a

True

In [ ]:
# total_ordering trás todas as ordenações
# baseado apenas em uma ordenação (neste caso, __lt__)
# e um critério de igualdade (neste caso, __eq__)

SEE YOU SPACE COWBOY...